.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 4px;
    border: 1px black solid;
}

.image {
    max-width: 50%;
    max-height: auto;
}